language: python
python:
  '3.6'
install:
  pip install bs4 requests requests-html tox-travis coverage codecov
script:
  python setup.py test
script:
  tox
script:
  coverage3 run --source=bot_wars -m unittest discover -s tests/
after_success:
  codecov
